@media only screen and (max-width: 760px) {
    .ka {
        width: 100%;
        background-color: transparent;
    }

    .ka table {
        border-collapse: collapse;
    }

    /* Force table to not be like tables anymore */
    .ka table,
    .ka thead,
    .ka tbody,
    .ka th,
    .ka td,
    .ka tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .ka thead {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .ka tr:nth-of-type(even) {
        background: #f6f6f6;
    }

    .ka tr:nth-of-type(even) td {
        border-bottom: 1px solid white;
    }

    .ka tr {
        border: 1px solid #ccc;
        margin-bottom: 20px;
        background-color: #fff;
    }

    .ka td.ka-cell {
        /* Behave like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        min-height: 30px;
    }

    .ka td.ka-cell:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 8px;
        left: 15px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        /* Label the data */
        content: attr(data-column);
        color: #000;
        font-weight: bold;
    }
}
