/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss";

@config "../tailwind.config.js";




.ka-icon-sort svg {
    display: inline;
    vertical-align: inherit;
}

.ka-paging-page-index, .ka-paging-size {
    border-radius: 5px !important;
}

.ka td.ka-cell:before {
    top: 50% !important;
    transform: translateY(-50%);
}